<div class="text-center bg-white py-3">
  <img
    src="assets/all-in-one/shared/img/logo.png"
    class="img img-fluid w-50"
    alt=""
  />
</div>
<section *ngIf="step == 0" class="pt-5 text-sacom">
  <div class="text-center">
    <i class="fas fa-spinner fa-pulse fa-3x" *ngIf="!loadErr"></i>
    <div *ngIf="loadErr" class="text-danger">
      Lỗi tải trang, Quý khách vui lòng thử lại
    </div>
  </div>
</section>
<section *ngIf="step == 1">
  <div class="container pt-3">
    <div class="text-center">Hướng dẫn chụp CCCD</div>
    <div>
      <div class="item">
        <div class="row">
          <div class="col-2 pr-0">
            <img
              src="https://cdn-icons-png.flaticon.com/512/2633/2633848.png"
              class="img img-fluid"
              alt=""
            />
          </div>
          <div class="col-10">Sử dụng giấy tờ gốc, không scan, không copy</div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-2 pr-0">
            <img
              src="https://cdn-icons-png.flaticon.com/512/436/436303.png"
              class="img img-fluid"
              alt=""
            />
          </div>
          <div class="col-10">
            Chụp ảnh trong môi trường ánh sáng tốt, tránh bị mờ, nhòe
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-2 pr-0">
            <img
              src="https://cdn-icons-png.flaticon.com/512/3940/3940205.png"
              class="img img-fluid"
              alt=""
            />
          </div>
          <div class="col-10">
            Đảm bảo hình ảnh rõ nét và nằm trọn trong khung hình
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        Bằng việc bấm Tiến hành chụp, quý khách đã đồng ý với
        <b>Điều khoản và Điều kiện sử dụng</b> của Sacombank
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button class="btn btn-primary w-100" (click)="next()">
          Bắt đầu chụp
        </button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="step == 2 || step == 3">
  <div class="container pt-3 text-center">
    <span class="float-left" (click)="previous()"
      ><i class="fa-solid fa-chevron-left"></i
    ></span>
    Chụp mặt {{ step == 2 ? "trước" : "sau" }} CCCD
  </div>

  <div class="p-3 text-center">
    <input
      type="file"
      (change)="handleInputChange($event)"
      #uploadImg
      class="d-none"
      accept="image/*"
    />
    <div *ngIf="front && step == 2" class="image-uploaded">
      <img [src]="front" />
    </div>
    <div *ngIf="back && step == 3" class="image-uploaded">
      <img [src]="back" />
    </div>
  </div>
  <div class="footer p-3">
    <div class="row">
      <div class="col">
        <div class="text-center nav-btn" (click)="edit(editModal)">
          <div><span class="material-icons"> crop </span></div>
          <div class="nav-text">Chỉnh sửa</div>
        </div>
      </div>
      <div
        class="col text-center position-relative"
        (click)="uploadImg.click()"
      >
        <div class="position-absolute capture-btn">
          <i class="fa fa-camera"></i>
        </div>
      </div>
      <div class="col text-right">
        <div class="text-center nav-btn" (click)="next()">
          <div><span class="material-icons"> shortcut </span></div>
          <div class="nav-text">Tiếp tục</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="step == 4">
  <div class="container text-center">
    <div class="p-4">
      <div>
        <img
          src="https://cdn-icons-png.flaticon.com/512/3032/3032885.png"
          class="img img-fluid w-50"
          alt=""
        />
      </div>
    </div>
    <div class="text-sacom">
      <div class="mb-2">
        <h5><b> Tải ảnh thành công!</b></h5>
      </div>
      <div class="font-weight-light">
        Quý khách vui lòng tiếp tục trên thiết bị của Sacombank, chân thành cảm
        ơn Quý khách
      </div>
    </div>
  </div>
</section>

<!-- Edit image modal -->
<section>
  <ng-template #editModal>
    <div class="modal-body position-relative p-0 edit-modal">
      <div class="p-3 edit-box">
        <image-cropper
          [imageBase64]="getBase64ToEdit()"
          [maintainAspectRatio]="false"
          [canvasRotation]="canvasRotation"
          format="jpeg"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>

      <div class="nav-edit text-center">
        <div class="w-25 d-inline-block" (click)="discard(discardModal)">
          <div><span class="material-icons"> highlight_off </span></div>
          <div>Hủy</div>
        </div>
        <div class="w-25 d-inline-block" (click)="rotateLeft()">
          <div><span class="material-icons"> rotate_left </span></div>
          <div>Lật trái</div>
        </div>
        <div class="w-25 d-inline-block" (click)="resetImg()">
          <div><span class="material-icons"> sync </span></div>
          <div>Đặt lại</div>
        </div>
        <div class="w-25 d-inline-block" (click)="done()">
          <div><span class="material-icons"> check_circle_outline </span></div>
          <div>Xong</div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #discardModal>
    <div class="modal-body">
      Bạn có chắc chắn muốn hủy bỏ các thay đổi không?
      <div class="mt-3">
        <div class="w-50 pr-2 d-inline-block">
          <button class="btn btn-secondary w-100" (click)="closeModal(2)">
            Không
          </button>
        </div>
        <div class="w-50 pl-2 d-inline-block">
          <button class="btn btn-primary w-100" (click)="closeModal()">
            Có
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #alertModal>
    <div class="modal-body">
      <div class="text-danger text-center">
        <i class="fa-solid fa-circle-exclamation"></i> {{ alertMsg }}
      </div>
    </div>
  </ng-template>
</section>
