.item {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
}

section {
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgb(255, 255, 255);
}

.capture-btn {
  width: 80px;
  height: 80px;
  background: radial-gradient(#1b54c3, #2685f1) !important;
  border-radius: 100px;
  line-height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  color: white;
  font-size: 1.7rem;
}

.nav-text {
  font-size: 0.8rem;
}

.nav-btn,
.nav-edit {
  color: #1b54c3;
}

.nav-edit {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 0px;
}

.btn-primary {
  background-color: #1b54c3 !important;
}

.btn-secondary {
  background-color: white !important;
  color: #1b54c3;
  border: 1px solid #1b54c3 !important;
}

.image-uploaded {
  height: 50vh;
}

.image-uploaded img {
  max-width: 100%;
  max-height: 100%;
}

.edit-box {
  height: 50vh;
}

.text-sacom {
  color: #1b54c3 !important;
  line-height: 2rem;
}
